<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online Shopping</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=DynaPuff:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles/shared.css" />
  </head>
  <body>
    <header id="main-header">
      <div id="logo">MyOnlineShop</div>
      <nav>
        <ul>
          <li class="nav-item"><a href="">Shop</a></li>
          <li class="nav-item"><a href="">Carts</a></li>
          <li class="nav-item"><a href="">Sign-up</a></li>
          <li class="nav-item"><a href="">Login</a></li>
          <li class="nav-item"><a href="">Admin</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <ul id="product-listing-ul">
          <li class="product-li">
            <img src="Ninja 1200.jpg" alt="Can see image?" />
            <div class="product-description-div">
              <h2>Kawasaki Ninja 1200</h2>
              <p>
                This outstanding road runner with top speed of 200 km/hr is 6
                years old but perfectly maintained
              </p>
              <p>price: USD 2000</p>
              <div class="action">
                <a href="https://kawasaki.com">Explore</a>
              </div>
            </div>
          </li>
          <li class="product-li">
            <img src="VFR1200X.jpg" alt="Can see image?" />
            <div class="product-description-div">
              <h2>Honda VFR1200X</h2>
              <p>
                This outstanding road runner with top speed of 200 km/hr is 6
                years old but perfectly maintained
              </p>
              <p>price: USD 2000</p>
              <div class="action">
                <a href="https://honda.com">Explore</a>
              </div>
            </div>
          </li>
          <li class="product-li">
            <img src="XT1200Z.jpg" alt="Can see image?" />
            <div class="product-description-div">
              <h2>Yamaha XT1200Z</h2>
              <p>
                This outstanding road runner with top speed of 200 km/hr is 6
                years old but perfectly maintained
              </p>
              <p>price: USD 2000</p>
              <div class="action">
                <a href="https://yamaha.com">Explore</a>
              </div>
            </div>
          </li>
          <li class="product-li">
            <img src="Suzuki GSX-8R.jpeg" alt="Can see image?" />
            <div class="product-description-div">
              <h2>Suzuki GSX-8R</h2>
              <p>
                This outstanding road runner with top speed of 200 km/hr is 6
                years old but perfectly maintained
              </p>
              <p>price: USD 2000</p>
              <div class="action">
                <a href="https://suzuki.com">Explore</a>
              </div>
            </div>
          </li>          
        </ul>
      </section>
    </main>
  </body>
</html>
